<ion-view view-title="Setup Time">
  <ion-content>
    	<label class="item item-input">
        <div class="input-label">
            how much you want to stay connected to your friends and family ? 
        </div>
      </label>
		  <div class="item item-input item-select">
    	 <div class="input-label"></div>
    		<select>
      			<option ng-repeat="n in ['Daily','Weekly','Monthly'  ]">{{n}}</option>
    		</select>
        
  		</div>
  		<label class="item item-input item-select">
    		<div class="input-label">
      	
    		</div>
    		<select>
      			<option ng-repeat="n in [1,2,3,4,5,6]">{{n}}</option>
    		</select>
  		</label>

		</div>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
  <div class="button-bar button-outline">
    <a class="button button-light" ng-click="MoveBack()">Back</a>
    <a class="button"></a>
    <a class="button button-light" ng-click="MoveNext()">Next</a>
  </div>
</ion-view>